header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px #CCCCCC solid;
}
.logo {
    background-image: url("/AirBnB_clone/web_static/images/logo.png");
    height: 60px;
    width: 142px;
    margin-left: 20px;
    margin-top: 10px;
}
