.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px #DDDDDD solid;
    border-radius: 4px;
}
.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    text-align: center;
    margin-top: 11px;
    margin-right: 30px;
    float: right;
}
button:hover {
    opacity: 90%;
}
.locations {
    height: 100%;
    width: 25%;
    border-right: 1px #DDDDDD solid;
    float: left;
    margin-left: 5%;
}
.filters .amenities {
    height: 100%;
    width: 25%;
    margin-right: 17%;
    float: right;
}
h3 {
    font-weight: 600;
    margin-bottom: 5px;
}
h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 5px;
}
.locations .popover, .amenities .popover {
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: none;
    position: absolute;
    list-style-type: none;
    overflow-y: scroll;
    max-height: 300px;

}
.locations:hover .popover {
    margin-left: -50px;
    margin-right: -50px;
    display: block;
    width: 35ch;
    margin-top: -4px;
    padding-top: 20px;
    padding-bottom: 45px;
    padding-left: 28px;
}
.amenities:hover .popover {
    margin-left: -50px;
    margin-right: -50px;
    display: block;
    width: 35ch;
    margin-top: -4px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.popover h2 {
    font-size: 16px;
    margin-bottom: 5px;
}
.popover ul li {
    list-style-type: none;
    padding-top: 2px;
    padding-bottom: 4px;
    margin-left: -30px;
}
.amenities li {
    list-style-type: none;
    padding-top: 6px;
    padding-bottom: 6px;
}
.popover {
    overflow-y: scroll;
    max-height: 300px;
}